<p id="notice"><%= notice %></p>

<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.store_name %></td>
        <td><%= link_to "Show", "stores/" + store.store_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back", :back %>
<br>
